<!-- Team RIID - Ishita Gupta, Dragos Lup, Renee Mui, Ian Chen-Adamczyk
SoftDev
K14 -- Form and Function/Echo user output received from html form 
2020-12-8 -->

<!DOCTYPE html>
<html>

  <head>
    <title>Welcome Page</title>
  </head>

  <body>
    <h1>
    Team RIID - Ishita Gupta, Dragos Lup, Renee Mui, Ian Chen-Adamczyk
    </h1>

<h3>
Enter your name below!
</h3>
    <form action="/auth", method="POST">
      <input type="text" name="username">
      <input type="submit" name="submit">
    </form>
     <br>
  </body>

</html>